<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type=text/javascript src="../static/jquery-3.2.1.min.js"></script>
    <!--<script type=text/javascript src="../static/usejs.js"></script>-->
    <!--<script type=text/javascript>-->
        <!--$SCRIPT_ROOT =  {{request.script_root|tojson|safe}};-->
    <!--</script>-->
    <script src="../static/forjq.js"></script>

    <title>hello</title>
</head>
<body>

<h1>jQuery Example</h1>
<p><input id="aval" type="text" size="5" > +
   <input id=bval type=text size=5 > =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
<div>
    <button id="getData">click for data</button>
    <p id="putData"></p>

</div>
</body>
