<!DOCTYPE html>
<html lang="en">
<head>
    <title>Write messages to the devtool console</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT =  {{request.script_root|tojson|safe}};
    </script>

    <script src="{{ url_for('static', filename='fakedata.js') }}"></script>
    <script src="{{ url_for('static', filename='scinum.js') }}"></script>
    <script src="{{ url_for('static', filename='statsmaker.js') }}"></script>
    <script src="{{ url_for('static', filename='interface.js') }}"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<section id="plots">
    <div id="tableRequestArea" class="toLeft">
        <button id="more">more</button>

        <form class="tableRequest" id="table-0">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="0">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-1">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="1">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-2">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="2">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-3">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="3">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-4">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="4">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-5">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="5">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-6">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="6">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-7">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="7">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-8">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="8">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-9">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table" value="9">
            <button type="submit">submit</button>
        </form>




    </div>
    <div id="plotter" class="toLeft"></div>
    <!--style="width:600px;height:250px;"-->

</section>
<section id="stats">
    <div id="basic"></div>

    <div id="statsRequestArea">
        <button id="moreStats">more stats</button>


        <form id="stats-0" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-1" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-2" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-3" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-4" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-5" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-6" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-7" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-8" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>

        <form id="stats-9" class="statsRequest">
            <button class="rmStats" type="button" >rm</button>
            <input class='statsInput' title='stats range' name='left' type="number">
            <input class='statsInput' title='stats range' name='right' type="number">
            <button type="submit">submit</button>
        </form>
    </div>

</section>
<section id="answer">

</section>
</body>
</html>