<!DOCTYPE html>
<html lang="en">
<head>
    <title>Statistics For Dice</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    </script>

    <script src="{{ url_for('static', filename='fakedata.js') }}"></script>
    <script src="{{ url_for('static', filename='scinum.js') }}"></script>
    <script src="{{ url_for('static', filename='statsmaker.js') }}"></script>
    <script src="{{ url_for('static', filename='interface.js') }}"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<section id="plots">
    <div id="tableRequestArea">
        <button id="more">more</button>


        <div class="dropdown">
            <button class="dropbtn">Examples</button>
            <div class="dropdown-content">
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.dieevents.Die">
                    <b>Die(6)</b>: a six-sided die</a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.dieevents.ModDie">
                    <b>ModDie(6, 2)</b>: D6+2</a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.dieevents.WeightedDie">
                    <b>WeightedDie({1:1, 2: 2})</b>: a D2 that rolls 2 twice as often as 1</a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.dieevents.ModWeightedDie">
                    <b>ModWeightedDie({1:1, 2: 2}, 5)</b>: a D2+5 that rolls 7 twice as often as 6</a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.dieevents.StrongDie">
                    <b>StrongDie(Die(6), 3)</b>: a die that multiplies containing die.
                </a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.dieevents.Modifier">
                    <b>Modifier(5)</b>: adds 5 to the overall die roll. 6*Die(3)&Modifier(-10) = (6D3)-10
                </a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.dieevents.Exploding">
                    <b>Exploding(Die(6))</b>: An exploding D6 re-rolls on a 6 and adds the result
                </a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.dieevents.ExplodingOn">
                    <b>ExplodingOn(Die(6), (1, ))</b>: An exploding D6 that rolls again on 1
                    <br/><b>ExplodingOn(Die(6), (1, 6))</b>: An exploding D6 that rolls again on 1 and 6
                </a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.bestworstmid.BestOfDicePool">
                    <b>BestOfDicePool(Die(6), 3, 2)</b>: take the 2 best rolls of 3D6
                </a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.bestworstmid.WorstOfDicePool">
                    <b>WorstOfDicePool(Die(6), 4, 2)</b>: take the 2 worst rolls of 4D6
                </a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.bestworstmid.UpperMidOfDicePool">
                    <b>UpperMidOfDicePool(Die(6), 7, 4)</b>: take the middle four rolls of 7D6
                </a>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://dice-tables.readthedocs.io/en/latest/the_dice.html#dicetables.bestworstmid.LowerMidOfDicePool">
                    <b>LowerMidOfDicePool(Die(6), 7, 4)</b>: take the middle four rolls of 7D6
                </a>

            </div>
        </div>


        <form class="tableRequest" id="table-0">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-1">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-2">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-3">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-4">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-5">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-6">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-7">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-8">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>
        <form class="tableRequest" id="table-9">
            <button type="button" class="rmTable">rm</button>
            <input type="text" name="tableQuery" title="get table"
                   placeholder="example: 2*Die(6)&3*WeightedDie({1:1, 2:3})">
            <button type="submit">submit</button>
        </form>

    </div>
</section>
<section class="plotSection">

    <div id="plotter"></div>
    <!--style="width:600px;height:250px;"-->

</section>
<section id="stats" class="toLeft">
    <div id="basic"></div>

    <div id="statsRequestArea">
        <button id="moreStats">more stats</button>


        <form id="stats-0" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-1" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-2" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-3" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-4" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-5" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-6" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-7" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-8" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>

        <form id="stats-9" class="statsRequest">
            <button class="rmStats" type="button">rm</button>
            <label>
                <input class='statsInput' title='stats range' name='left' type="number">
            </label>
            <label>
                <input class='statsInput' title='stats range' name='right' type="number">
            </label>
            <button type="submit">submit</button>
        </form>
    </div>

</section>
<section id="answer" class="toLeft">
    <div id="tableContainer">
        <table id="statsTable">
            <tr id="tableName" class="keeper">
                <th>Table Name</th>
            </tr>
            <tr id="tableRange" class="keeper">
                <th>Table Range</th>
            </tr>
            <tr id="tableMean" class="keeper">
                <th>Mean</th>
            </tr>
            <tr id="tableStdDev" class="keeper">
                <th>Std Dev</th>
            </tr>
            <tr id="rowFor-stats-0"></tr>
            <tr id="rowFor-stats-1"></tr>
            <tr id="rowFor-stats-2"></tr>
            <tr id="rowFor-stats-3"></tr>
            <tr id="rowFor-stats-4"></tr>
            <tr id="rowFor-stats-5"></tr>
            <tr id="rowFor-stats-6"></tr>
            <tr id="rowFor-stats-7"></tr>
            <tr id="rowFor-stats-8"></tr>
            <tr id="rowFor-stats-9"></tr>
        </table>
    </div>
</section>
</body>
</html>